extends layout

block content
  h2=title
  p ONE THIRD OF THE MENU ITEMS
  ul(class='menu')
    for item in config.menu.Breakfast
      a(class=-'menu-option' href='#')
        li
          span(class='menu-item') #{item[0]}
          img(src=item[2] class='menu-img')
          span(class='menu-desc') #{item[1]}