doctype html
html
  head
    link(href='style.css', rel='stylesheet')
  body
    header
      h1
        a(href="./") ^3
      nav
        ul
          for item in config.nav
            li
              a(href=item[1]) #{item[0]}
    - var v = Math.floor(Math.random() * config.quotes.length);
    h2(id="quote")=config.quotes[v]
    div(id='content')
      block content
    footer