doctype html
html
  head
    link(href='style.css', rel='stylesheet')
  body
    header
      h1
        a(href="./") name of website
      ul(id="menu")
        for item in config.menu
          li
            a(href=item[1]) #{item[0]}
              
    div(id='content')
      block content
    footer