@import url('https://fonts.googleapis.com/css?family=Artifika|Lato');

body
{
    font-family: 'Lato', serif;
}

header {
    margin: auto;
    text-align: center;
}

#nav {
    list-style-type: none;
    overflow: hidden;
    margin: auto;
}

#nav li {
    float: left;
    background: #b1e514;
    padding: 8px;
}

a {
    color: #0fb9db;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: border-color 0.8s, color 0.2s;
    text-decoration: none;
}

a:active {
    color: #0fb9db;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: border-color 0.8s;
}

a:visited {
    color: #0fb9db;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: border-color 0.8s;
}

a:hover {
    color: #339db2;
    /*text-decoration: underline;*/
    border-bottom: 2px solid #339db2;
    transition: border-color 1s, color 0.8s;
}