@import url('https://fonts.googleapis.com/css?family=Artifika|Lato');

@keyframes comeIn {
    0% {
        top: -20px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

body
{
    font-family: 'Lato', serif;
}

header {
    margin: auto;
    text-align: center;
    width: 100%;
}

nav {
    width: 100%;
    margin: auto;
    background-color: #b1e514;
}

nav > ul {
    list-style-type: none;
    overflow: hidden;
    margin: auto;
}

nav > ul > li {
    float: left;
    background: #b1e514;
    padding: 8px;
}

#quote {
    position: relative;
    font-family: cursive;
    animation: comeIn 1.8s;
    text-align: center;
}

a {
    color: #0fb9db;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: border-color 0.8s, color 0.2s;
    text-decoration: none;
}

a:active {
    color: #0fb9db;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: border-color 0.8s;
}

a:visited {
    color: #0fb9db;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: border-color 0.8s;
}

a:hover {
    color: #339db2;
    /*text-decoration: underline;*/
    border-bottom: 2px solid #339db2;
    transition: border-color 1s, color 0.8s;
}