@import url('https://fonts.googleapis.com/css?family=Artifika|Lato|Dancing+Script|Architects+Daughter');

@keyframes comeIn {
    0% {
        top: -20px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body
{
    position: relative;
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Lato', serif;

}

#website-name {
    font-size: 40pt;
    font-weight: 600;
}

#website-name a {
    color: #bf7200;
    border: none;
}

#website-name a:visited {
    color: #6a4100;
    border: none;
}

#website-name a:hover {
    border: none;
}

header {
    padding-top: 16pt;
    margin: auto;
    text-align: center;
    width: 100%;
    background: #b5ff5d;
}


nav#header-nav {
    width: 100%;
    margin: 0 auto;
    background-color: #b1e514;
    text-align: left;
}

nav#header-nav .nav-container {
    margin: auto;
    text-align: center;
    /*position: relative;*/
}

nav#header-nav ul {
    list-style-type: none;
    width: 100%;
    padding: 18px;

}

nav#header-nav ul li {
    display: inline;
    background: #b1e514;
    transition: background 0.4s;
    padding: 18px;
    font-size: 15pt;
}

nav#header-nav ul li:hover {
    background: #bbed17;
    transition: background 0.2s;
}

nav#header-nav ul a li {
    border-bottom: none;
}

nav#header-nav ul a {
    font-weight: 600;
    color: #8f7832;
}

nav#header-nav ul a:visited {
    font-weight: 600;
}


nav#header-nav ul a:hover {
    border-bottom: none;
}

#body {
    margin: 20px;
    padding-bottom: 50%;
}

#quote {
    position: relative;
    /*font-family: 'Architects Daughter', cursive;*/
    font-family: 'Dancing Script', cursive;
    font-size: 2.4em;
    animation: comeIn 1.8s;
    text-align: center;
    cursor: default;
    user-select: none;
}

h2 {
    margin: 10px 20px 20px 10px;
}
p {
    margin: 10px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.menu-card {
    flex-grow: 1;
    background-color: #fafafa;
    transition: box-shadow 0.8s;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    min-width: 250px;
    /*max-width: 300px;*/
    margin: 10px;
    padding: 20px;
    cursor: default;
    text-align: center;
}

.menu-card:hover {
    transition: box-shadow 0.4s;
    box-shadow: 0 6px 12px 6px rgba(0, 0, 0, 0.4);
}

.menu-card-item {
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
    margin: 20px;
}

.menu-card-img {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: auto;
}

.menu-card-desc {
    background-color: #dbdbdb;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1.2em;
    margin: 5px 5px 0px 5px;
    padding: 10px;
    text-align: center;
}

.menu-card-price {
    background-color: #e2e2e2;
    padding: 5px;
    text-align: center;
    margin: 0px 5px 5px 5px;
    font-size: 1.1em;
    font-weight: 600;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.map-directions {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.map-directions img {
    background: #e9e9e9;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: box-shadow 0.8s;
    border-radius: 30px;
}

.map-directions img:hover {
    box-shadow: 0 12px 24px rgba(0,0,0,0.6);
    transition: box-shadow 0.4s;
}

a {
    color: #0fb9db;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: border-color 0.8s, color 0.2s;
    text-decoration: none;
}

a:active {
    color: #0fb9db;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: border-color 0.8s;
}

a:visited {
    color: #0fb9db;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: border-color 0.8s;
}

a:hover {
    color: #339db2;
    /*text-decoration: underline;*/
    border-bottom: 2px solid #339db2;
    transition: border-color 1s, color 0.8s;
}

footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    padding: 20pt;
    margin: auto;
    width: 100%;
    background: #b1e514;
    color: #ffffff;
}

nav#footer-nav ul {
    list-style-type: none;
}

footer #footer-left {
    height: 100%;
    width: 70%;
    float: left;
}

footer #footer-right {
    border-left: 2px solid #454545;
    margin-left: 70%;
    padding: 20px;
    height: 100%;
}

footer a {
    color: #626262;
    border-bottom: 1px solid #8f8f8f;
}

footer a:visited {
    color: #626262;
    border-bottom: 1px solid #8f8f8f;
}

footer a:hover {
    border-bottom: 2px solid #8f8f8f;
}

.tab{
    text-indent: 50px;
}